{
	"extends": "airbnb-base",
	"rules": {
		"max-len": [2, 80],
		"semi": [2, "never"],
		"no-var": 0,
		"vars-on-top": 0,
		"eqeqeq": 0,
		"brace-style": [2, "stroustrup", { "allowSingleLine": true }],
		"no-else-return": 0,
		"no-use-before-define": [2, "nofunc"],
		"comma-dangle": 0,
		"max-nested-callbacks": [2, 5],
		"function-paren-newline": 0,
		"prefer-promise-reject-errors": 0
	},
	"env": {
		"node": true,
		"jest": true
	}
}
