{
	"extends": "airbnb/base",
	"rules": {
		"indent": ["error", "tab"],
    "no-tabs": 0,
		"semi": [2, "never"],
		"no-var": 0,
		"vars-on-top": 0,
		"one-var": 0,
		"eqeqeq": 0,
		"brace-style": [2, "stroustrup", { "allowSingleLine": true }],
		"no-else-return": 0,
		"no-use-before-define": [2, "nofunc"],
		"comma-dangle": 0,
		"object-curly-spacing": 0,
		"max-nested-callbacks": [2, 5],
    "arrow-parens": ["error", "always"]
	},
	"env": {
		"node": true
	}
}